$desktop: 840px;

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

* {
  font-family: "Calibri";
  color: white;
}

body {
  background-color: rgb(73, 72, 72);
}

.container {
  .days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 5px;

    @include desktop {
      display: none;
    }

    .day {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(53, 52, 52);
    }
  }

  #days-passed {
    font-size: 1.3em;
    margin-top: 10px;
    @include desktop {
      display: none;
    }
  }
}

.progress {
  height: 50px;
}

.progress-bar {
  text-shadow: 2px 2px 0 #7a7a7a;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    font-size: 1.4em;
  }
}

header {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  i {
    color: white;
    font-size: 3em;
  }
  a:hover {
    opacity: 0.5;
    transition: 200ms;
  }
}
